<header class="site-header">
  <div class="container">
    <div class="header-inner">
      <div class="logo">
        <a href="/" aria-label="{{ site.title }} Home">
          <img src="/assets/images/logo.jpg" alt="{{ site.title }} Logo" width="180" height="48">
        </a>
      </div>
      
    </div>
  </div>
</header>